<div class="mt-2 restaurant-item">
	{{#if visited}}
		{{#if liked}}
		<button class="btn btn-light delete-restaurant" data-id="{{id}}"><i class="fas fa-trash-alt"></i></button>
		<h4 class="restaurant-name">{{name}}</h4>
		{{else}}
		<h4 class="restaurant-name">{{name}}</h4>
    	<button class="btn btn-light delete-restaurant" data-id="{{id}}"><i class="fas fa-trash-alt"></i></button>
		{{/if}}
	{{else}}
    <button class="btn btn-success rate-restaurant" data-id="{{id}}" data-liked="true"><i class="fas fa-thumbs-up"></i></button>
	<h4 class="restaurant-name">{{name}}</h4>
    <button class="btn btn-danger rate-restaurant" data-id="{{id}}" data-liked="false"><i class="fas fa-thumbs-down"></i></button>
	{{/if}}
</div>
